<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>EmployeeCreator</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EmployeeWorkedHoursCreator</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EmployeesByJobSearcher</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EmployeeWorkedHoursByDatesSearcher</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EmployeePaymentsByDatesSearcher</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeCreator</servlet-name>
        <url-pattern>/EmployeeCreator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeWorkedHoursCreator</servlet-name>
        <url-pattern>/EmployeeWorkedHoursCreator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesByJobSearcher</servlet-name>
        <url-pattern>/EmployeesByJobSearcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeWorkedHoursByDatesSearcher</servlet-name>
        <url-pattern>/EmployeeWorkedHoursByDatesSearcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeePaymentsByDatesSearcher</servlet-name>
        <url-pattern>/EmployeePaymentsByDatesSearcher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
